@charset "UTF-8";

@import "base/base";

body {
  font: $b-font-weight #{$b-font-size}/#{$b-line-height} $b-font-family;
  color: $c-text;
  a {
    text-decoration: none;
    color: nth($c-link, 1);
    &:hover {
      text-decoration: underline;
      color: nth($c-link, 2);
    }
  }
}
.hello{
  font-size: .5rem;
}
// Coding...
